html, body{
position: absolute;
width: 100%;
height: 100%;
background-color: blue;
top:0;
left:0;
margin:0;
}
.Head{
position: absolute;
top:0%;
left:0%;
width: 100%;
height: 12%;
background-color: red;
}
.Title{
position: absolute;
width: 100%;
height: 100%;
text-align:center;
padding-top: 5px;
font-size:40px;
color:white;
text-shadow: 2px 2px black;
}
.subTitle{
position: absolute;
width: 100%;
height: 100%;
left:40%;
top:50px;

}
.logo{
position:absolute;
top: 10%;
width:10%;
height: 80%;
left:5%;

}
#logo{
width: 100%;
height: 100%;
}
.Menu{
position: absolute;
width:100%;
left:0;
top: 12%;
height: 8%;
background-color: black;
}
table {
top:0%;
width: 100%;
height: 100%;
text-align: center;
}
button:hover{
background-color: black;
}
button{
width: 100%;
height: 100%;
background-color:blue;
border: 1px solid black;
color:white;
}
.Content{
position: absolute;
width: 100%;
height: 100%;
left:0%;
top:20%;
background-color: blue;
}
.about{
color:white;
padding-left: 20%;
padding-bottom: 5px;
padding-top: 1px;

margin:20px;
}
.about#A{
background:  url("images/Anthony.JPG") no-repeat left;
background-size: 20%;
}
.about#C{
background: url("images/Carlos.JPG") no-repeat left;
background-size: 20%;
}
.about#E{
background: url("images/Edwin.jpeg") no-repeat left;
background-size: 20%;
}
.about#G{
background: url("images/Gio.png") no-repeat left;
background-size: 20%;
}
.about#R{
background: url("images/Raul.jpg") no-repeat left;
background-size: 20%;
}

/*          RULES RULES RULES RULES RULES RULESRULES         */

#Rules{
position: absolute;
left:10%;
top:10%;
font-size:30px;
}

/*          AGENDA AGENDA AGENDA         */

.BOX{
position:absolute;
top:20%;
width: 100%; 
}
.collapsible{
  top:30%;
  left:0%;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height:10%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover{
  background-color: #555;
}

.content{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.col_1{
display:inline-block;
width:50%;

}
.col_2{
display:inline-block;
width:21%;

}
.col_3{
display:inline-block;
width:19%;
}


/* PROJECTS PROJECTS PROJECTS */
.Poster{
position: absolute;
top: 30%;
left:10%;
width: 90%;
height: 450px;

font-size: 20px;
color:white;

}
.Paper{
display: block;
margin-left:auto;
margin-right:auto;

width: 250px;
height: 400px;
background-color: white;
box-shadow: 10px 10px #000;
color:Black;
}
.Team_{
display:block;
width: 150px;
margin:auto;
text-align:center;
position: relative;
top: 10%;
font-size: 25px;
}
.logoP{
width: 150px;
height: 150px;
margin:auto;
position:relative;
top: 15%;
}
#logoP{
width: 100%;
height: 100%;
}
.Motto{
display:block;
width: 150px;
margin:auto;
text-align:center;
position: relative;
top:20%;
}
.Members{

display:block;
width: 100%;
margin:auto;
text-align:center;
position: relative;
top:40%;

font-size: 14px;

}
.Presentation{
position:absolute;
top: 100%;
left: 5%;
width: 90%;
height: 50%;
font-size:20px;
color:white;

}
.PSA{
position:absolute;
top: 155%;
left: 5%;
width: 90%;
height: 50%;
font-size:20px;
color:white;
}
.Final{
position:absolute;
top:210%;
left:5%;
width: 90%;
height:50%;
font-size:20px;
color:white;

}
